ion-button{
    height: 45px;
    --background: #24bee8;
    margin-bottom: 10px;
}

ion-list{
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


ion-header{
    ion-toolbar{
        --background:#24bee8;
    }

    ion-title{
        color: white;
    }
}