<ion-header>
  <ion-toolbar>
    <ion-icon class="arrow" (click)="back()" tappable name="arrow-back"></ion-icon>
    <ion-title>New Password</ion-title>
    <ion-icon name="checkmark" class="right" tappable (click)="submit()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="passwordForm" (ngSubmit)="submit()"> 
  <ion-list>
    <ion-item class="NewPassword" lines="none">
      New Password:
    </ion-item>
    <ion-item>
      <ion-input formControlName="password" placeholder="Enter New Password" type="password"></ion-input>
    </ion-item>

    <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf="passwordForm.controls['password']?.hasError(error.type) && isSubmitted  ">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
  </ion-list>
</form>

</ion-content>
