.error-message {
    color: var(--ion-color-danger);
    margin:10px;
}

.NewPassword{
    color: rgb(110, 110, 110);
}

.arrow{
    position:absolute;
    padding: 10px;
    color: white;
    left: 5px;
    top: 5px;
    font-size: 28px;
}

// ion-button{
//     --background: transparent;
//     --box-shadow: none;
//     color: #24bee8;
//     border: 3px solid #24bee8;
//     height: 40px;
//     margin-top: 20px;
//     width: 80%;
//     border-radius: 20px;

// }

.right{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: white;
}

ion-input{
    --background: rgba(221, 221, 221, 0.199);
    --padding-start: 20px;
}

ion-item{
    --padding-start: 10px;
}

ion-header{
    ion-toolbar{
        --background:#24bee8;
    }

    ion-title{
        margin-left: 40px;
        color: white;
    }
}